src/xsd/ServiceBanque.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT BanqueService (conversion,getCompte,getComptes)>
<!ELEMENT conversion (montant)>
<!ELEMENT montant (#PCDATA)>
<!ELEMENT getCompte (Compte)>
<!ELEMENT Compte (code,solde,dateCreaction)>
<!ELEMENT code (#PCDATA)>
<!ELEMENT solde (#PCDATA)>
<!ELEMENT dateCreaction (#PCDATA)>
<!ELEMENT getComptes (Compte+)> <!-- on a fait compte+ pour dire c une liste c a dire je vais avoir de 1 jusqu'à plus l'infini comptes -->

